FRONTEND_URL=https://saas-engenharia-web.vercel.app
SUPABASE_URL=https://sua-url-supabase.supabase.co
SUPABASE_KEY=sua_anon_key_aqui
SUPABASE_ANON_KEY=sua_anon_key_aqui
PORT=8000
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui
ZAPSIGN_API_TOKEN=seu_token_zapsign_aqui
ZAPSIGN_WEBHOOK_SECRET=sua_chave_secreta_webhook_aqui
